<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/fontawesome-pro-5.12.0-web/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='fonts/fontawesome-pro-5.12.0-web/js/all.js') }}" async></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" class="brand-logo">
        </a>
        <button type="button" class="btn btn-search ml-auto" data-toggle="modal" data-target="#searchModal">
            <i class="fas fa-search"></i>
        </button>
        <div class="modal fade" id="searchModal" tabindex="-1" role="dialog"
             aria-labelledby="searchModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2 w-100" type="text" placeholder="Search">
                    </form>
                </div>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <div class="d-flex flex-column flex-lg-row align-items-end align-items-lg-center">
                <ul class="navbar-nav text-right order-md-2">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{ url_for('profile') }}">profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#">analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{ url_for('home') }}">betting</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xl-9 px-0">
            <div class="bookmaker-board">
                <div class="betting-history-container">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="alert alert-danger mt-3">
                        {{ messages[0] }}
                    </div>
                    {% endif %}
                    {% endwith %}
                    {% if session.logged_in %}
                    <h1 class="mt-5 text-white">My History</h1>
                    <div class="mt-3">
                        <button type="button" class="btn btn-secondary mr-2">Best</button>
                        <button type="button" class="btn btn-secondary mr-2">Worst</button>
                        <button type="button" class="btn btn-secondary mr-2">Win</button>
                        <button type="button" class="btn btn-secondary mr-2">Loss</button>
                    </div>                    
                    {% else %}
                    <h1 class="mt-5 text-white">Login</h1>
                    <form method="post" action="{{ url_for('profile') }}">
                        <div class="form-group">
                            <label for="username" class="text-white">Username</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-white">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                    <p class="mt-3 text-white">Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
