<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teams</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #1c1c1c;
            color: #fff;
        }
        .container {
            background-color: transparent;
            padding-top: 50px;
        }
        .list-group-item {
            background-color: rgba(255, 255, 255, 0.1);
            border: none;
            color: white;
            margin-bottom: 10px;
        }
        .list-group-item:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" class="brand-logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
            <div class="d-flex flex-column flex-lg-row align-items-end align-items-lg-center">
                <ul class="navbar-nav text-right order-md-2">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{ url_for('teams') }}">teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="{{ url_for('profile') }}">profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#">analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase active" href="#">betting</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>{{ team.TeamName }}</h2>
            <ul class="list-group">
                {% for player in players %}
                <li class="list-group-item">{{ player.PlayerName }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <h3>Fixture</h3>
            <ul class="list-group">
                {% for event in events %}
                <li class="list-group-item">
                    {{ event.HostTeam }} vs {{ event.GuestTeam }} - {{ event.EventDate.strftime('%Y-%m-%d') }}<br>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<footer class="footer mt-auto py-3">
    <div class="container text-center">
        <span class="text-muted"></span>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
